<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="AskName" value ="Enter your Name"/>
    <add key ="Options" value ="Please select following options
         1. Greet in English
         2. Greet in Fiji 
         3. Greet in French 
         4. Exit"/>
    <add key ="ErrorMessage" value ="Invalid Selection"/>
    <add key ="ExitMessage" value ="You chose to Exit!"/>
  </appSettings>
</configuration>